body {
  background-color: #F3F781;
  font-family: 'EB Garamond', serif;
}

h1 {
  padding-left: 20px;
  padding-bottom: 10px;
}

#header {
  background-color: #3A2F0B;
  color: #ddd;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#container {
  padding-top: 60px;
}

.group {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  padding: 50px;
}

p {
  font-size: 16pt;
}
