body {
  background-color: #F3F781;
  font-family: 'EB Garamond', serif;
}

img {
  max-width: 100%;
  height: auto;
}

a:link {
  color: #aaa;
}

a:visited {
  color: #ccc;
}

a:hover {
  color: #ddd;
}

a:active {
  color: #aaa;
}

#header {
  background-color: #3A2F0B;
  color: #eee;
  font-size: 12pt;
  width: 240px;
  height 240px;
  padding: 20px;
  position: fixed;
  top: 40px;
  left: 640px;
}

#numeral {
  position: fixed;
  width: 280px;
  top: 20px;
  left: 20px;
  border: 1px solid #000;
}

.column {
  border: 1px solid #000;
}

#column1 {
  width: 280px;
  position: fixed;
  top: 80px;
  left: 20px;
}

#column2 {
  width: 280px;
  position: fixed;
  top: 80px;
  left: 320px;
}

#column3 {
  width: 280px;
  position: fixed;
  top: 360px;
  left: 640px;
}

#column4 {
  width: 280px;
  position: fixed;
  top: 360px;
  left: 960px;
}

.stanza {
  float: left;
  clear: left;
  width: auto;
  border: 1px solid #000;
}
